.hero .container {
    background-image: url("/public//imgs/75huylFjILwQmN7lrs89\ 1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 160px 0px;
}

.section1Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.section1Title p {
    color: rgba(144, 144, 144, 1);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.box1-1 {
    width: 280px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(242, 242, 242, 1);
    /* margin-bottom: 30px; */
}

.Box1Narx {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.Box1Narx p {
    padding-right: 10px;
    border-right: 2px solid rgba(242, 242, 242, 1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(144, 144, 144, 1);
    text-decoration: line-through;
}

.Box1Narx h3 {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(237, 55, 41, 1);
}

.Title {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

.Title2 {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(144, 144, 144, 1);
}

.Box1Data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    gap: 20px;
}

.Box1Data h3 {
    font-size: 16px;
    font-weight: 400;
}

.Box1Data p {
    font-size: 8px;
    font-weight: 400;
    color: rgba(144, 144, 144, 1);
    padding-top: 5px;
}

.ЧАСОВ {
    border-left: 2px solid rgba(242, 242, 242, 1);
    border-right: 2px solid rgba(242, 242, 242, 1);
    padding: 0px 20px;
}

.МИНУТ {
    border-right: 2px solid rgba(242, 242, 242, 1);
    padding-right: 20px;
}

.Box1Tovar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 15px 0px;
    border-top: 1px solid rgba(242, 242, 242, 1);
    color: #BDBDBD;
}

.Box1Tovar i {
    cursor: pointer;
}

.hear {
    border-left: 2px solid rgba(242, 242, 242, 1);
    border-right: 2px solid rgba(242, 242, 242, 1);

    padding: 0px 35px;
}

.Box1 {
    display: flex;
    justify-content: start;
    /* background-color: red; */
    gap: 26.5px;
    align-items: center;
    flex-wrap: wrap;

}

/* section2 start  */
.section2{
    padding-top: 80px;
    padding-bottom: 66px;
}
.box2{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: red; */
}
.box2-1 {
    width: 280px;
    border: 1px solid rgba(242, 242, 242, 1);
    display: flex;
    border-radius: 5px;
    
    position: relative;
}
.box2-1 img{
    position: absolute;
    right: 0px;
    top: -15px;
}
.box2-1 h4{
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 80px;
}
/* section3 start  */
.section3{
    padding-bottom: 80px;
}
.box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box3 h5{
    font-size: 14px;
    font-weight: 400;
    color: #BDBDBD;
    padding-top: 10px;

}
.box3 h1{
    font-size: 42px;
    font-weight: 500;

}
.box3 .Box3Img{
    width: 280px;
}
.Box3Img img{
    width: 100%;
}
.Box3-1{
    padding-right: 100px;
}
.Box3-1 h2{
    font-size: 42px;
    font-weight: 500;
    color: rgba(237, 55, 41, 1);
    padding-bottom: 17px;
}
.Box3-1 p{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 30px;
    text-decoration:  line-through;
    color: rgba(144, 144, 144, 1);
}
.Box3-1 button{
    font-size: 16px;
    font-weight: 400;
    padding: 12px 51px;
    background-color: white;
    color: rgba(237, 55, 41, 1);
    border: 1px solid rgba(237, 55, 41, 1);
    border-radius: 5px;
}
/* section4 :start */

.section4{
    padding-bottom: 80px;
}
.box4-1 {
    width: 280px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(242, 242, 242, 1);
    /* margin-bottom: 30px; */
}

.Box4Narx {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    flex-direction: column-reverse;
}

.Box4Narx p {
    /* border-right: 2px solid rgba(242, 242, 242, 1); */
    font-size: 14px;
    font-weight: 400;
    color: rgba(144, 144, 144, 1);
}

.Box4Narx h3 {
    font-size: 18px;
    font-weight: 500;
    color: rgba(237, 55, 41, 1);
}

.Title4 {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}




.Box4Tovar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 15px 0px;
    border-top: 1px solid rgba(242, 242, 242, 1);
    color: #BDBDBD;
}

.Box4Tovar i {
    cursor: pointer;
}
.Box4 {
    display: flex;
    justify-content: start;
    /* background-color: red; */
    gap: 26.5px;
    align-items: center;
    flex-wrap: wrap;

}
/* section5 start  */
.section5{
    padding-bottom: 80px;
}
.Box5{
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.box5-3{
    width: 650px;

}
.box5-3 img{
    width: 100%;
    /* width: 360px; */

}
.box5-2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.box5-1 {
    width: 260px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(242, 242, 242, 1);
    /* margin-bottom: 30px; */
}

.Box5Narx {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    flex-direction: column-reverse;
}

.Box5Narx p {
    /* border-right: 2px solid rgba(242, 242, 242, 1); */
    font-size: 14px;
    font-weight: 400;
    color: rgba(144, 144, 144, 1);
}

.Box5Narx h3 {
    font-size: 18px;
    font-weight: 500;
    color: rgba(237, 55, 41, 1);
}

.Title4 {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}




.Box5Tovar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 15px 0px;
    border-top: 1px solid rgba(242, 242, 242, 1);
    color: #BDBDBD;
}

.Box5Tovar i {
    cursor: pointer;
}
/* section6 start  */
.section6{
    padding-bottom: 80px;
}
.box6-1{
    width: 230px;
    border: 1px solid rgba(224, 224, 224, 1);
    text-align: center;
    padding: 20px 0px;
    border-radius: 5px;
}
.Box6{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
