.navTop .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
}
.navTop{
    background-color: #ED3729;
    color: white;
}
.NavTopLeft{
    display: flex;
    gap: 50px;
    align-items: center;
}
.NavTopLeft div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.NavbarTopRight{
    display: flex;
    align-items: center;
    gap: 20px;

}
.formControl section{
    border: none;
    outline: none;
    border-radius: 10px;
}
/* ============================================= */
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.NavSearch {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid #ED3729;
    border-radius: 8px;
    padding-left: 10px;
}
.NavSearch button{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px 20px;
    border-radius: 0px 5px 5px 0px;
    border: #ED3729;
    outline: none;
    background-color: #ED3729;
    color: white;
    font-size: 16px ;
    font-weight: 600;
}
button{
    cursor: pointer;
}
.mikrafon{
    color: #BDBDBD;
    cursor: pointer;
}
.NavSearch input{
    border: none;
    outline: none;
    width: 280px;
}
.NavIcon{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 36px;
    font-size: 14px ;
    font-weight: 400;
}
.NavIcon i{
    font-size: 18px;
}
/* ===================================================== */
.MenuCategori button{
    padding: 10px 79px;
    background-color: #ED3729;
    border: none;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navCategori .container{
    padding-bottom: 25px;
}
.CategoryTovar{
    display: flex;
    align-items: center;
    gap: 20px;
}
.CategoryTovar p{
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.navCategori .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}